workflows/archive/german-vocab-workflow-v2-working.json
{
  "name": "German Vocab Logger (Telegram → AI → Sheets + Reply)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1680,
        320
      ],
      "id": "217bb200-9f41-4d56-9a8b-d3b3c8afcad1",
      "name": "Telegram Trigger1",
      "webhookId": "af544661-2f44-47ad-bff9-e149a4124de5",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        544
      ],
      "id": "d1094d0e-1fd4-4beb-b1b9-1f21ba759e47",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3YMWXW6t4VTdXRhW",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a German A1/A2 vocabulary tutor. The user sends ONE German word or short phrase.\n\nReturn TWO parts:\n\nPART 1 (Telegram reply):\n- Word + article if noun (der/die/das) + POS\n- English meaning\n- Simple German explanation\n- One A1/A2 example sentence in German + English translation\n\nPART 2 (for Google Docs):\nStart a new line with exactly: DOC_LOG:\nThen output ONE single-line entry like:\nYYYY-MM-DD | word | POS | EN meaning | Example DE\n\nUse today's date in Europe/Berlin.\nNo JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2048,
        320
      ],
      "id": "6875c425-b660-4be6-acef-1177d8a812f7",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ ($json.output || '').split('DOC_LOG:')[0].trim() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        320
      ],
      "id": "aa685622-e0c1-4779-99c7-2e098f898ed9",
      "name": "Telegram Reply1",
      "webhookId": "ac37d68b-a6d2-4d55-98f0-0138f93d4dc5",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1Pu8V461iIyIL5gGCCDUtppAxZ14O8JBfWrUJwHnuk1U/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2464,
        528
      ],
      "id": "d60717d7-6cd8-4847-be66-1957ab338d75",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ehuQ6XJTbeKlFUTg",
          "name": "Google Docs account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nQ05mxwafG_HMkxV8Hxl_tR_PfD0T7PFevHMrhAHAoI",
          "mode": "list",
          "cachedResultName": "German a2 vocab",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQ05mxwafG_HMkxV8Hxl_tR_PfD0T7PFevHMrhAHAoI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nQ05mxwafG_HMkxV8Hxl_tR_PfD0T7PFevHMrhAHAoI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.output.date }}",
            "Word": "={{ $json.output.word_or_phrase }}",
            "POS": "={{ $json.output.pos }}",
            "Article": "={{ $json.output.article }}",
            "Simple_DE": "={{ $json.output.simple_de }}",
            "Meaning_EN": "={{ $json.output.meaning_en }}",
            "Example_DE": "={{ $json.output.example_de }}",
            "Example_EN": "={{ $json.output.example_en }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Word",
              "displayName": "Word",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POS",
              "displayName": "POS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Article",
              "displayName": "Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meaning_EN",
              "displayName": "Meaning_EN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Simple_DE",
              "displayName": "Simple_DE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Example_DE",
              "displayName": "Example_DE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Example_EN",
              "displayName": "Example_EN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4000,
        992
      ],
      "id": "d9e0aeb0-3b59-42df-a31d-8d1869460cbf",
      "name": "Append to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dm4VfZlwVBEOvvLv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        3056,
        880
      ],
      "id": "eceec217-1546-4b1a-b6b9-5cf3c3de0bd6",
      "name": "Telegram Trigger",
      "webhookId": "af544661-2f44-47ad-bff9-e149a4124de5",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3248,
        1104
      ],
      "id": "eb53a5de-08ed-42fc-a7aa-85ad3689fcfd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3YMWXW6t4VTdXRhW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a German A1/A2 vocabulary tutor.\n\nThe user sends ONE German word or short phrase.\n\nYou MUST output ONLY a single valid JSON object.\n❌ No markdown\n❌ No headings\n❌ No explanations\n❌ No extra text\n❌ No code fences\n\nThe JSON MUST follow this exact schema.\nAll keys are REQUIRED.\nIf a value is not applicable, use an empty string \"\".\n\n{\n  \"telegram_text\": \"string\",\n  \"date\": \"YYYY-MM-DD\",\n  \"word_or_phrase\": \"string\",\n  \"pos\": \"string\",\n  \"article\": \"der|die|das|\",\n  \"meaning_en\": \"string\",\n  \"simple_de\": \"string\",\n  \"example_de\": \"string\",\n  \"example_en\": \"string\",\n  \"tags\": [\"string\"]\n}\n\nRules:\n\n1. date must be TODAY in Europe/Berlin timezone.\n2. article:\n   - Use \"der\", \"die\", or \"das\" ONLY if the word is a noun.\n   - Otherwise use \"\".\n3. pos examples:\n   - Nomen\n   - Verb\n   - Adjektiv\n   - Interjektion\n   - Phrase\n4. simple_de must be a VERY EASY German explanation (A1/A2 level).\n5. example_de must be a natural A1/A2 sentence.\n6. example_en must be the correct English translation of example_de.\n7. tags must contain 1–3 short tags like:\n   - \"A1\"\n   - \"A2\"\n   - \"Alltag\"\n   - \"Begrüßung\"\n   - \"Uni\"\n8. telegram_text MUST be plain text (Telegram-friendly) and MUST follow this EXACT format:\n\n<word_or_phrase> (<pos>, <article if any>)\nEN: <meaning_en>\nDE (einfach): <simple_de>\nBeispiel: <example_de> / EN: <example_en>\n\n9. Return ONLY the JSON object. Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3424,
        880
      ],
      "id": "4f45cdd1-6e7e-4c57-b15e-0ee0566d7369",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.telegram_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4096,
        784
      ],
      "id": "89ed6955-646a-41de-aedf-eac4298f84d2",
      "name": "Telegram Reply",
      "webhookId": "f8789fe9-71bd-4d2b-8ead-9f691807592e",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"telegram_text\": { \"type\": \"string\" },\n    \"date\": { \"type\": \"string\" },\n    \"word_or_phrase\": { \"type\": \"string\" },\n    \"pos\": { \"type\": \"string\" },\n    \"article\": { \"type\": \"string\" },\n    \"meaning_en\": { \"type\": \"string\" },\n    \"simple_de\": { \"type\": \"string\" },\n    \"example_de\": { \"type\": \"string\" },\n    \"example_en\": { \"type\": \"string\" },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  },\n  \"required\": [\n    \"telegram_text\",\n    \"date\",\n    \"word_or_phrase\",\n    \"pos\",\n    \"article\",\n    \"meaning_en\",\n    \"simple_de\",\n    \"example_de\",\n    \"example_en\",\n    \"tags\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3632,
        1120
      ],
      "id": "d2ec4bc9-b9f1-4644-b70a-f41fd6ddc677",
      "name": "Structured Output Parser",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3568,
        1328
      ],
      "id": "4c3364fa-8660-4ae6-b4bc-9aaa2321f9be",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "3YMWXW6t4VTdXRhW",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 925464262,
          "message": {
            "message_id": 578,
            "from": {
              "id": 1010134644,
              "is_bot": false,
              "first_name": "Gaurav",
              "language_code": "en"
            },
            "chat": {
              "id": 1010134644,
              "first_name": "Gaurav",
              "type": "private"
            },
            "date": 1768398278,
            "text": "entshuldigung"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram Reply1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append to Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "40d2c707-129e-475f-8bb7-c6e53fbf1b95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2214a042eb3154f2274e6e3265a1e2e050297f72ee4758a8d9473c4a8978ff3a"
  },
  "id": "1FTpQHeHsfDeyKcpoIn5f",
  "tags": []
}