workflows/archive/german-vocab-logger-v3-test.json
{
  "name": "German Vocab Logger (Telegram → Lookup → AI → Sheets + Reply)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        3000,
        880
      ],
      "id": "tgTrigger",
      "name": "Telegram Trigger",
      "webhookId": "af544661-2f44-47ad-bff9-e149a4124de5",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = ($json.message?.text || \"\").trim();\nconst user_id = $json.message?.chat?.id;\n\nconst key = text\n  .toLowerCase()\n  .replace(/[’']/g, \"\")\n  .replace(/[^\\p{L}\\p{N}\\s-]+/gu, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\nreturn [{ json: { ...$json, input_text: text, user_id, key } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        880
      ],
      "id": "normalize",
      "name": "Normalize (user_id + key)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1nQ05mxwafG_HMkxV8Hxl_tR_PfD0T7PFevHMrhAHAoI",
          "mode": "list",
          "cachedResultName": "German a2 vocab"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ $json.user_id }}"
            },
            {
              "lookupColumn": "key",
              "lookupValue": "={{ $json.key }}"
            }
          ]
        },
        "options": {
          "returnAll": false,
          "limit": 1
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3400,
        880
      ],
      "id": "getRow",
      "name": "Get Row (by user_id + key)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dm4VfZlwVBEOvvLv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $items('Get Row (by user_id + key)').length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3600,
        880
      ],
      "id": "ifFound",
      "name": "IF Found?"
    },
    {
      "parameters": {
        "jsCode": "const row = $items('Get Row (by user_id + key)')[0].json;\nconst today = new Date().toISOString().slice(0,10);\nconst lookups = Number(row.lookups || 0) + 1;\n\nreturn [{\n  json: {\n    telegram_text: row.telegram_text || `${row.Word || row.word_or_phrase} (${row.POS || row.pos})\\nEN: ${row.Meaning_EN || row.meaning_en}\\nDE (einfach): ${row.Simple_DE || row.simple_de}\\nBeispiel: ${row.Example_DE || row.example_de}\\nEN: ${row.Example_EN || row.example_en}`,\n    row_number: row.rowNumber || row.row_number || row.__rowNumber || row.row || row.Row || \"\",\n    updates: { lookups, last_seen: today }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        760
      ],
      "id": "prepFound",
      "name": "Prepare Found Reply + Counters"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4200,
        740
      ],
      "id": "tgReplyFound",
      "name": "Telegram Reply (Found)",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nQ05mxwafG_HMkxV8Hxl_tR_PfD0T7PFevHMrhAHAoI",
          "mode": "list",
          "cachedResultName": "German a2 vocab"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "rowNumber": "={{ $json.row_number }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lookups": "={{ $json.updates.lookups }}",
            "last_seen": "={{ $json.updates.last_seen }}"
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4200,
        860
      ],
      "id": "updateFoundRow",
      "name": "Update Row (lookups + last_seen)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dm4VfZlwVBEOvvLv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {
          "maxTokens": 220
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3400,
        1120
      ],
      "id": "openaiModel",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3YMWXW6t4VTdXRhW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input_text }}",
        "options": {
          "systemMessage": "You are a German A1/A2 vocabulary tutor.\n\nUser sends ONE German word or short phrase.\nOutput ONLY a single valid JSON object (no markdown, no extra text).\nAll keys required; use \"\" if not applicable.\n\n{\n  \"telegram_text\": \"string\",\n  \"date\": \"YYYY-MM-DD\",\n  \"word_or_phrase\": \"string\",\n  \"pos\": \"string\",\n  \"article\": \"der|die|das|\",\n  \"meaning_en\": \"string\",\n  \"simple_de\": \"string\",\n  \"example_de\": \"string\",\n  \"example_en\": \"string\",\n  \"tags\": [\"string\"]\n}\n\nRules:\n- date = TODAY in Europe/Berlin (YYYY-MM-DD)\n- article only for nouns else \"\"\n- telegram_text format:\n<word_or_phrase> (<pos>, <article if any>)\nEN: <meaning_en>\nDE (einfach): <simple_de>\nBeispiel: <example_de>\nEN: <example_en>\n\nReturn ONLY the JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3600,
        1120
      ],
      "id": "aiAgent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nlet parsed;\ntry { parsed = typeof raw === 'string' ? JSON.parse(raw) : raw; }\ncatch (e) { throw new Error('AI output is not valid JSON:\\n' + raw); }\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        1120
      ],
      "id": "parseJson",
      "name": "Parse AI JSON"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4200,
        1080
      ],
      "id": "tgReplyNew",
      "name": "Telegram Reply (New)",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nQ05mxwafG_HMkxV8Hxl_tR_PfD0T7PFevHMrhAHAoI",
          "mode": "list",
          "cachedResultName": "German a2 vocab"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Normalize (user_id + key)').item.json.user_id }}",
            "key": "={{ $('Normalize (user_id + key)').item.json.key }}",
            "lookups": 1,
            "first_seen": "={{ $json.date }}",
            "last_seen": "={{ $json.date }}",
            "telegram_text": "={{ $json.telegram_text }}",
            "Date": "={{ $json.date }}",
            "Word": "={{ $json.word_or_phrase }}",
            "POS": "={{ $json.pos }}",
            "Article": "={{ $json.article }}",
            "Simple_DE": "={{ $json.simple_de }}",
            "Meaning_EN": "={{ $json.meaning_en }}",
            "Example_DE": "={{ $json.example_de }}",
            "Example_EN": "={{ $json.example_en }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4200,
        1200
      ],
      "id": "appendNewRow",
      "name": "Append New Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dm4VfZlwVBEOvvLv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize (user_id + key)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize (user_id + key)": {
      "main": [
        [
          {
            "node": "Get Row (by user_id + key)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Row (by user_id + key)": {
      "main": [
        [
          {
            "node": "IF Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Found?": {
      "main": [
        [
          {
            "node": "Prepare Found Reply + Counters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Found Reply + Counters": {
      "main": [
        [
          {
            "node": "Telegram Reply (Found)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Row (lookups + last_seen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI JSON": {
      "main": [
        [
          {
            "node": "Telegram Reply (New)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append New Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}