workflows/archive/german-vocab-logger-v1-working.json
{
  "name": "German Vocab Logger (Telegram → AI → Docs + Reply)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1680,
        320
      ],
      "id": "217bb200-9f41-4d56-9a8b-d3b3c8afcad1",
      "name": "Telegram Trigger1",
      "webhookId": "af544661-2f44-47ad-bff9-e149a4124de5",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1872,
        544
      ],
      "id": "d1094d0e-1fd4-4beb-b1b9-1f21ba759e47",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "3YMWXW6t4VTdXRhW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a German A1/A2 vocabulary tutor. The user sends ONE German word or short phrase.\n\nReturn TWO parts:\n\nPART 1 (Telegram reply):\n- Word + article if noun (der/die/das) + POS\n- English meaning\n- Simple German explanation\n- One A1/A2 example sentence in German + English translation\n\nPART 2 (for Google Docs):\nStart a new line with exactly: DOC_LOG:\nThen output ONE single-line entry like:\nYYYY-MM-DD | word | POS | EN meaning | Example DE\n\nUse today's date in Europe/Berlin.\nNo JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2048,
        320
      ],
      "id": "6875c425-b660-4be6-acef-1177d8a812f7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ ($json.output || '').split('DOC_LOG:')[0].trim() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        320
      ],
      "id": "aa685622-e0c1-4779-99c7-2e098f898ed9",
      "name": "Telegram Reply1",
      "webhookId": "ac37d68b-a6d2-4d55-98f0-0138f93d4dc5",
      "credentials": {
        "telegramApi": {
          "id": "cKy30xYHWkiM0iCM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1Pu8V461iIyIL5gGCCDUtppAxZ14O8JBfWrUJwHnuk1U/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2464,
        528
      ],
      "id": "d60717d7-6cd8-4847-be66-1957ab338d75",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ehuQ6XJTbeKlFUTg",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram Reply1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "131be9bc-5c3e-4735-9797-c2ef5ca2c0a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2214a042eb3154f2274e6e3265a1e2e050297f72ee4758a8d9473c4a8978ff3a"
  },
  "id": "1FTpQHeHsfDeyKcpoIn5f",
  "tags": []
}